
<div>
    <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
        <input type="text" placeholder="Enter S.N." name="sn" formControlName="sn" required><br>
        <span style="color:red;" *ngIf="sn && sn.invalid && submitted">This Field is required</span>
        <br>
        <input type="text" placeholder="Enter Title" name="title" formControlName="title" required><br>
        <span style="color:red;" *ngIf="title && title.invalid && submitted">This Field is required</span>
        <br>
        <input type="text" placeholder="Enter Price" name="price" formControlName="price"><br>
        <span style="color:red;" *ngIf="price && price.invalid  && submitted">This Field is required</span>
        <br>
        <input  type="text" placeholder="Rating" formControlName="rating" isDisabled="true"><br>
        <br>
        <button type="submit" >Login</button>
    </form>
</div>




